<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<h1>IPL Analysis</h1>
<form method="get" action="/navigate">

    <button type="submit" name="route" value="team_names">Team Names</button><br><br>
    <button type="submit" name="route" value="team_details">Team Details</button><br><br>
    <button type="submit" name="route" value="team_vs_team">Team Vs Team</button><br><br>
    <button type="submit" name="route" value="batter_record">Batter Record</button><br><br>
    <button type="submit" name="route" value="bowler_record">Bowler Record</button><br><br>

</form>


</body>
</html>